main, footer, .navbar , .product-qtty, .product-price {
    direction: rtl;
}

.statistic {
    direction: ltr;
}

.cart {
    right: initial;
    left: 5px;
}

.cart_items {
    padding-right: 2rem;
    padding-left: 1rem;
}

.delete-category {
    right: 180px;
}

.edit-category {
    left: -105px;
}

button.btn.MS-right {
    float: initial;
}

button.btn.MS-left {
    float: left;
}

.add-product_toggle {
    right: initial;
    left: 50px;
  }

 @media only screen and (max-width: 690px) {
    .delete-category {
        right: 140px;
    }
 }