 /*
SimpleStore
*/

.card-image {
    display: block;
    width: 100%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-title{
      text-align: center;
      text-transform: capitalize;
  }
  
  .delete-product, .edit-product {
    position: absolute;
    margin-top: -132px;
    background: #fffffff2;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit-product {
    margin-left: 200px;
  }